<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-vcentered">
      <div class="column is-7">
        <figure class="image is-4by3">
          <img src="https://picsum.photos/800/600/?random" alt="Description">
        </figure>
      </div>
      <div class="column is-6 is-offset-1">
        <h1 class="title is-2">
          Frestack 
        </h1>
        <h2 class="subtitle is-4">
         Write the code and change the world!
        </h2>
        <br>
        <p class="has-text-centered">
          <a class="button is-medium is-info is-outlined" [routerLink]="['/features']">
            Learn more
          </a>
        </p>
      </div>
    </div>
  </div>
</div>