<section class="section">
  <div class="container"><form [formGroup]="createProjectForm" (ngSubmit)="onSubmit()">
      
      <div class="field">
        <input class="input is-danger" type="text" formControlName="projectName" placeholder="ProjectName" required>
      </div>
      <div class="field">
          <input type="checkbox" class="checkbox is-danger" formControlName="isActive">
          <label> Active </label>
        </div>
      <div class="field">
        <button type="submit" [disabled]="!createProjectForm.valid" class="button info">Submit</button>
      </div>
    </form>
  </div>
</section>