<section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Register</h3>
            <div class="field">
              <figure class="image container is-128x128">
                <img  src="../../assets/logo.gif">
              </figure>
            </div>
           

            
            
          <p class="has-text-grey">
            <a [routerLink]="login">Login</a> &nbsp;·&nbsp;
            <a [routerLink]="forggotpassword">Forgot Password</a> &nbsp;·&nbsp;
            <a [routerLink]="help">Need Help?</a>
          </p>
        </div>
      </div>
    </div>
  </section>