<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-success">
          <p class="title">Plan 1</p>
          <p class="subtitle">Top tile</p>
        </article>
      </div>
    </div>
    <div class="column is-one-third">
        <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-danger">
              <p class="title">Plan 2</p>
              <p class="subtitle">Top tile</p>
            </article>
          </div>
    </div>
    <div class="column is-one-third">
        <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-warning">
              <p class="title">Plan 3</p>
              <p class="subtitle">Top tile</p>
            </article>
          </div>
    </div>
  </div>
</div>